@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
.api-dashboard {
  font-family: Arial, sans-serif;
  padding: 100px;
  margin-left:150px;
  color: #333;
}

.api-usage,
.api-metrics,
.api-keys {
  margin: 20px 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #003348;
}

.usage-info p {
  margin: 5px 0;
  padding:  10px;
}

.metrics-chart {
  text-align: center;
  padding: 20px;
}
h1{
  font-family: 'Montserrat', sans-serif; 
  font-size: 28px;
  font-weight: bold;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;}
p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight:400 ;
}

.keys-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.key-card {
  align-items: center;
  gap: 15px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

.key-card h3 {
  margin: 0;
}

.key-card p {
  margin: 0;
  color: #555555;
}
.api-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.api-name {
  margin-top: 20px;
  font-size: 16px;
  color: #003348;
  margin-bottom: 20px;
}
.sidebar ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

.sidebar ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
ul li a:hover {
  color:#003348 ;
}
.api-metrics {
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.api-metrics h2 {
  color: #003348;
}

.metrics-filter {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.metrics-filter button {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.metrics-filter button.active-filter {
  background-color:#003348;
  color: #fff;
  border: none;

}

.metrics-filter button:hover {
  background-color:#003348;
  color: #fff;
}

.metrics-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-link {
  color: #003348;
}

.inactive-link {
  color: #f5f5f55a; 
}
