
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-logo img {
  margin-left: 20px;
  height: 60px;
  width: 150px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-email {
  font-size: 14px;
  color: #003348;
  font-weight: bold;
}

.logout-button {
  padding: 8px 10px;
  margin-right: 20px;
  font-size: 16px;
  color: white;
  background-color: #003348;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color:#D2B278 ;
}

.catalog-container {
  display: flex;
  margin-top: 0px; 
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar {
  background-color: #ffffff;
  width: 200px;
  text-align: center;
  position: fixed;
  top: 80px; 
  left: 0;
  bottom: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile-email {
  font-size: 12px;
  font-weight: bold;
  color: #003348;
  margin-bottom: 20px;
}

.sidebar ul li a {
  color:  #3333339b;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

.sidebar ul li a.active-link {
  color: #003348 ;
  font-weight: bold;
}

.sidebar ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}



.content-area {
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
h1{
  font-family: 'Montserrat', sans-serif; 
  font-size: 28px;
  font-weight: bold;
}
.tabs h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #003348;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
}

.tabs h3:hover {
  color: white;
}

.tabs h3.active-tab {
  font-weight: bold;
  border-bottom: 2px solid #003348;
  color: #003348;
}

.document-catalog {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.api-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  flex-grow: 1;
  overflow: hidden;
}
.api-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: relative;
}
.see-api-button {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #003348;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
}

.image-container:hover .see-api-button {
  display: block; 
}

.api-card:hover {
  transform: scale(1.05);
}

.api-card img {
  width: 100%;
  max-height: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.api-card h2 {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 16px;
  margin: 10px 0;
}

.api-icon {
  width: 20px;
  height: 20px;
}

.api-name {
  font-size: 18px; 
}
.api-card ul li{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight:400 ;
  color:#003348 ;
  text-align:left ; 
}



@media (max-width: 768px) {
  .catalog-container {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }


  .api-grid {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left:0px;
  
  }

  
}
